<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>测试 pure form</title>
	    <link rel="stylesheet" href="/static/css/pure/forms.css" />
	</head>
	<body>
		<form class="pure-form" method="post">
		    <label for="option-one" class="pure-checkbox">
		        <input id="option-one" name="cb" type="checkbox" value="cb1">
		        Here's option one.
		    </label>
		
		    <label for="option-two" class="pure-radio">
		        <input id="option-two" type="radio" name="optionsRadios" value="rd1" checked>
		        Here's a radio button. You can choose this one..
		    </label>
		    <label for="option-three" class="pure-radio">
		        <input id="option-three" type="radio" name="optionsRadios" value="rd2">
		        ..Or this one!
		    </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
		</form>
	</body>
</html>